# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# temporary files
*.tmp
test*
a.out

# language server config
.clangd

# build files
*.o
webserv
.installed